@model ForgotPasswordVM

<style>
    .login-card {
        max-width: 400px; /* Atur lebar maksimum kotak login */
        margin: auto; /* Pusatkan kotak */
    }

        /* Hilangkan garis bawah pada semua link di dalam login card */
        .login-card a {
            text-decoration: none;
        }

            /* Opsional: Menambahkan garis bawah saat hover */
            .login-card a:hover {
                text-decoration: underline;
            }
</style>

<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow border login-card">
                <div class="card-header bg-success text-white text-center">
                    <h2>Forgot Password</h2>
                </div>
                <div class="card-body">
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
                    }

                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Username" class="form-control" />
                            <label asp-for="Username">Username</label>
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div>
                            <button type="submit" class="w-100 btn btn-lg btn-outline-success">Request Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
